{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}

{% block seo %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
<meta property="og:type" content="article" />
<meta name="twitter:title" content="{{ article.title }}">
{% endblock %}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
                <img src="{{ SITEURL }}/theme/img/garagemhacker-logo.png" />
                <h1 itemprop="headline"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_content_classes %}article-content{% endblock %}

{% block content %}
<div class="content-article" itemid="{{ SITEURL }}/{{ article.url }}" itemscope itemtype="http://schema.org/LiveBlogPosting">
    <header class="header-article">
        <div class="read-more">Postado em <time itemprop="datePublished" content="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></div>
   </header>
    <section class='article'>
        <div class="entry-content" itemprop="articleBody">
            {{ article.content }}
        </div>
    </section>
    <footer class="footer-article">
        <div class="tags-and-categories">Categoria <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        | Tags: {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}

        | <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">Link permanente</a>
        </div>
    </footer>
    {% include 'article_discus.html' %}
</div>
{% endblock %}
