{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block seo %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
<meta property="og:type" content="article" />
<meta name="twitter:title" content="{{ page.title }}">
{% endblock %}

{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <img src="{{ SITEURL }}/theme/img/garagemhacker-logo.png" />
            <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_content_classes %}page-article{% endblock %}

{% block content %}
    <section class="article">
    {{ page.content }}
    </section>
{% endblock %}
